.container {
  text-align: center;
}

.title {
  padding: 10px;
}

.data-table {
  width: 100%;
}

.data-table th,
.data-table td {
  border-bottom: 1px solid black;
  padding: 8px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  background-color: lightgreen;
  border-radius: 8px;
  width: 80px;
  height: 40px;
  font-size: 16px;
  font-weight: bolder;
}


.table-rows{
  background-color: lightgreen;
}


.pageNumber{
  border: 2px solid #4fe63b;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  size: 20px;
  font-size: 20px;
  font-weight: 700;
  background-color: lightgreen;
}